{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}

<div class="row">
  <div class="col-md-6 mx-auto">
    <h1 class="display-4 text-center my-4">New Post</h1>
    <form id="new-post-form" action="{% url 'new_post' %}" method="post" name="new-post-form" class="bg-primary p-4">
      {% csrf_token %}
      <div class="form-group">
        <textarea name="new-post-text" id="new-post-text" class="form-control form-control-lg"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Post</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto">
    <h1 class="display-4 text-center my-4">Posts</h1>
    {% for posts in post %}
    <div class="card my-4 bg-light">
      <div class="card-header">
        <h5>
        <a class="nav-link" href="{% url 'profile' posts.user.id %}"
        class="card-title">{{ posts.user }}
      </a>
    </h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{ posts.content }}</p>
        <p class="card-text text-secondary">{{ posts.date }}</p>
        <div>
        <button class="btn btn-primary" ><i class="fa fa-thumbs-up"></i> Like</button>
        <br>
        <h6 id="count">{{ posts.likes }}</h6>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
